<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HasbroSTransformers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TransformersTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TransformersUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA8947112156BCF500AF1732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8947252156BCF600AF1732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8947302156BCF700AF1732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9DAB2721591E8F00EB9F28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
